<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_go00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,56}</string>
                <key>spriteSourceSize</key>
                <string>{94,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w_go01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,56}</string>
                <key>spriteSourceSize</key>
                <string>{94,56}</string>
                <key>textureRect</key>
                <string>{{97,1},{94,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>share.png</string>
            <key>size</key>
            <string>{192,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a913e424e3b0eceab697afb6fbddf830:4b665ac59c9fd585d22899ccc298d71c:953d3665f264cda36fcc0ed6233f063a$</string>
            <key>textureFileName</key>
            <string>share.png</string>
        </dict>
    </dict>
</plist>
