<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_jump00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,51}</string>
                <key>spriteSourceSize</key>
                <string>{181,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{181,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w_jump01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,51}</string>
                <key>spriteSourceSize</key>
                <string>{181,51}</string>
                <key>textureRect</key>
                <string>{{184,1},{181,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>en.png</string>
            <key>size</key>
            <string>{366,53}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7db40f88ee5ab32c2b9138dce1786d88:8b5a6e8e1baf49daa6755f549fb2da19:696ae00c7bae0767415670fc3924f0c0$</string>
            <key>textureFileName</key>
            <string>en.png</string>
        </dict>
    </dict>
</plist>
