<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_go00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,56}</string>
                <key>spriteSourceSize</key>
                <string>{94,56}</string>
                <key>textureRect</key>
                <string>{{265,1},{94,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w_go01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,56}</string>
                <key>spriteSourceSize</key>
                <string>{94,56}</string>
                <key>textureRect</key>
                <string>{{361,1},{94,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w_jump00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w_jump01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{133,1},{130,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Art_Text.png</string>
            <key>size</key>
            <string>{456,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:086829ac7725290d70d9542e22c7e8a0:77b01f785e0f4931be7ae7cbce167a89:bb93bfc109b0695200e88534ea942087$</string>
            <key>textureFileName</key>
            <string>Art_Text.png</string>
        </dict>
    </dict>
</plist>
