<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>numw_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,85},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numw_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,199},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numw_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,313},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numw_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,427},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numw_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,541},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numw_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,655},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numw_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,769},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numw_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,883},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numw_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,997},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numw_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,1111},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numw_dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,200}</string>
                <key>spriteSourceSize</key>
                <string>{40,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numw_mul.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,1225},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numw_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,1339},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numw_th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,200}</string>
                <key>spriteSourceSize</key>
                <string>{40,200}</string>
                <key>textureRect</key>
                <string>{{1,43},{40,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>num.png</string>
            <key>size</key>
            <string>{202,1452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ca3bd8f59572b830678eb1cdff7a201:31346d998b7f820d73dccd33b6323b8d:c8434379717a6af43528125c4e736aa8$</string>
            <key>textureFileName</key>
            <string>num.png</string>
        </dict>
    </dict>
</plist>
