<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planet_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,148}</string>
                <key>spriteSourceSize</key>
                <string>{179,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{179,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{97,151},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1,151},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{182,60},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{182,1},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>planets.png</string>
            <key>size</key>
            <string>{240,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e45c74177f700758e3b64328d20a125d:993d060f7c4b8f9e9fefb8beb1b2a290:dd932aa2135a8829ff5f576a137be835$</string>
            <key>textureFileName</key>
            <string>planets.png</string>
        </dict>
    </dict>
</plist>
